*~
*figs
admixture
./pca/
subset
.*
*pdf
eems
merged
pong
*.pyc
tmp*
eemsout
app-gridster/
shiny*/
test*
viz/
spacemix
autosnake
*png
eigenvalues.txt
eigenvectors.txt
eemsout_gg
paper
construct
dists
eemspilot
figures
pca
*rds
*Rout
subset_nopca
config/*yaml
config/*json
tess
